
/* HTML /BODY */
body,html {
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: rgba(164, 196, 255, 0.883);
    font-family: 'Comic Sans MS';
    font-size: small;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* HEADER */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(6, 0, 189, 0.753);
    color: rgb(0, 247, 255);
    height: 30%;
    width: 100%;
}

#lvl, #count, #chrono, #rejouer, #suivant{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: bold;
}

#rejouer{
    display: flex;
    border: 7px solid rgb(0, 247, 255);
    border-radius: 23px;
    width: 50%;
    height: 5%;
    margin: 4%;
}

#suivant{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 7px solid rgba(164, 196, 255, 0.883);;
    border-radius: 23px;
    width: 50%;
    height: 25%;
    margin: 4%;
}

#resulat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
}

#resulat>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#lvl1, #lvl2, #lvl3, #lvl4, #lvl5, #lvl6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* PAGE D'ACCEUIL */

#welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;    
}

#welcome>div{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* GAME */
#game{
    display: flex;
    height: 20%;
    width: 100%;
}

#next-1, #next-2{
    display: flex;
    border: 7px solid #196394;
    border-radius: 23px;
    width: 50%;
    height: 15%;
    margin: 4%;
}

/* RULE */
#rule{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
}

#rule>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rule2{
    display: flex;
    width: 90%;
    height: 64%;
    border: 2px solid #196394;
    border-radius: 8px;
}

#rule2:hover{
    border-right: 5px outset #196394;
    border-bottom: 5px outset #196394;
    border-radius: 8px;
    background-color: gold;
}

#ok{
    display: flex;
    border: 7px solid #196394;
    border-radius: 23px;
    width: 30%;
    height: 20%;
    margin: 4%;
}

#commencer:hover , #ok:hover, #rejouer:hover, #next-1:hover, #next-2:hover, #abandonner:hover, #suivant:hover{
    border-right: 13px outset #196394;
    border-bottom: 13px outset #196394;
    background-color: gold;
}

/* EXEMPLE */
#exemple{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#pays-exemple{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
}

#drapeau-exemple{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 55%;
    width: 100%;
}

/* COMMENCER */
#commencer{
    display: flex;
    border: 7px solid #196394;
    border-radius: 23px;
    width: 60%;
    height: 30%;
    margin: 10%;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* CONTENEUR */
#conteneur{
    display: flex;
    flex-direction: column;   
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#conteneur>div{
    display: flex;
    flex-direction: column;   
    align-content: center;
    justify-content: center;
    align-items: center;
}

.pays{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
}

#abandonner{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 40%;
    margin: 4%;
    border: 7px solid #196394;
    border-radius: 23px;
}

#france, #belgique, #allemagne, #hollande, #pologne{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.drap {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.drap>div{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#drapeau-france, #drapeau-belgique{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 95%
}

#drapeau-allemagne, #drapeau-hollande, #drapeau-pologne{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 95%
}

#drapeau-tcheque{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 95%;
}

#drapeau-tcheque>div{
    display: flex;
    height: 100%;
    width: 100%;
}

#rectangle {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: #0f15185e inset 4px;
}

#rect1{
    border-bottom: #0f15185e inset 2px;
    z-index: 1;
    background-color: blue;
    height: 100%;
    width: 100%;
}

#rect2{
    border-top: #0f15185e inset 2px;
    z-index: 1;
    background-color: white;
    height: 100%;
    width: 100%;
}

#triangle{
    clip-path: polygon(0 0, 0 100%, 100% 50%);
    background-color: red;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.a , .b, .c ,.e{
    width: 100%;
    height: 100%;
}

.a , .b, .c {
    width: 100%;
    height: 100%;
    border: #0f15185e inset 4px;
}

.test-drap{
    height: 100%;
    width: 30%;
    border: #0f15185e inset 4px;
}

  #triangle-complet{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* ANIMATION */





















 



