
/* HTML /BODY */
body,html {
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* HEADER */
header{

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: yellowgreen;
    justify-content: space-between;
    height: 25%;
    width: 100%;
}

#lvl, #count, #chrono{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-weight: bold;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* PAGE D'ACCEUIL */

#welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;    
}

#welcome>div{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* GAME */
#game{
    display: flex;
    height: 17%;
    width: 100%;
}

#game>div{
    font-size: 70%;
}

/* RULE */
#rule{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
}

#rule>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rule2{
    display: flex;
    width: 90%;
    height: 64%;
    border: 2px solid #196394;
    border-radius: 8px;
}

#rule2:hover{
    border-right: 5px outset #196394;
    border-bottom: 5px outset #196394;
    border-radius: 8px;
    background-color: gold;
}

#ok{
    display: flex;
    border: 7px solid #196394;
    border-radius: 23px;
    width: 30%;
    height: 20%;
    margin: 1%;
}

#commencer:hover , #ok:hover{
    border-right: 13px outset #196394;
    border-bottom: 13px outset #196394;
    background-color: gold;
}


/* EXEMPLE */
#exemple{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#pays-exemple{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
}

#drapeau-exemple{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 55%;
    width: 100%;
    margin: 1%;
}

/* COMMENCER */
#commencer{
    display: flex;
    border: 7px solid #196394;
    border-radius: 23px;
    width: 60%;
    height: 30%;
    margin: 1%;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* CONTENEUR */
#conteneur{
    display: flex;
    flex-direction: column;   
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 100%;
}

#conteneur>div{
    display: flex;
    flex-direction: column;   
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pays{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
}

#france, #belgique, #allemagne, #hollande{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.drap {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}

.drap>div{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#drapeau-france, #drapeau-belgique{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 95%
}

#drapeau-allemagne, #drapeau-hollande{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 95%
}

.a , .b{
    width: 100%;
    height: 100%;
    border: #0f15185e inset 4px;
}

.test-drap{
    height: 100%;
    width: 29%;
    border: #0f15185e inset 4px;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */






















 



